<template>
  <v-text-field
    single-line
    label="What's your next goal?"
    v-model="newTasks"
    @keyup.enter="onEnterKey"
  ></v-text-field>
</template>

<script>
import { mapMutations } from 'vuex'

import { types, defaultTask } from '@/store/modules/tasks'

export default {
  name: 'new-task',
  data () {
    return {
      newTasks: ''
    }
  },
  methods: {
    ...mapMutations({
      addTask: types.ADD_TASK
    }),
    onEnterKey () {
      const text = this.newTasks
      if (!text) { return }
      this.addTask({
        ...defaultTask(),
        text
      })
      this.newTasks = ''
    }
  }
}
</script>
