<template>
  <v-list-tile
    avatar
    ripple
  >
    <v-list-tile-action>
      <v-checkbox
        :input-value="task.done"
        @change="onCheckboxChange(task)"
      ></v-checkbox>
    </v-list-tile-action>
    <v-list-tile-content>
      <v-text-field
        single-line
        label="What's your next goal?"
        :disabled="task.done"
        :value="task.text"
        @input="onTextChange(task, $event)"
      ></v-text-field>
    </v-list-tile-content>
    <v-list-tile-action>
      <v-btn
        flat
        icon
        color="secondary"
        @click="onRemoveClick(task)"
      >
        <v-icon>delete_forever</v-icon>
      </v-btn>
    </v-list-tile-action>
  </v-list-tile>
</template>

<script>
import { mapMutations, mapActions } from 'vuex'

import { types } from '@/store/modules/tasks'

export default {
  name: 'task',
  props: {
    task: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapMutations({
      addTask: types.ADD_TASK,
      updateTask: types.UPDATE_TASK,
      removeTask: types.REMOVE_TASK
    }),
    ...mapActions({
      toggleTask: types.TOGGLE_TASK_DONE
    }),
    onCheckboxChange (task) {
      this.toggleTask(task)
    },
    onTextChange (task, text) {
      this.updateTask({
        ...task,
        text
      })
    },
    onRemoveClick (task) {
      this.removeTask(task)
    }
  }
}
</script>
