<template>
  <v-list
    v-if="tasks.length"
    two-line
  >
    <task
      v-for="task in tasks"
      :key="task.key"
      :task="task"
    ></task>
  </v-list>
</template>

<script>
import { mapGetters } from 'vuex'

import { types } from '@/store/modules/tasks'

import task from '@/components/task'

export default {
  name: 'task-list',
  props: {
    filter: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      filterTasks: types.FILTER_TASKS
    }),
    tasks () {
      return this.filterTasks(this.filter)
    }
  },
  components: {
    task
  }
}
</script>
