<template>
  <centered-layout>
    <v-card class="elevation-12">
      <v-toolbar dark color="primary">
        <v-toolbar-title>Most Amazing TODO</v-toolbar-title>
      </v-toolbar>
      <v-card-actions>
        <v-btn :to="{ name: 'tasks.all' }">All</v-btn>
        <v-btn :to="{ name: 'tasks.open' }">Open</v-btn>
        <v-btn :to="{ name: 'tasks.done' }">Done</v-btn>
      </v-card-actions>
      <v-card-text>
        <new-task></new-task>
        <router-view/>
      </v-card-text>
    </v-card>
  </centered-layout>
</template>

<script>
import centeredLayout from '@/layouts/centeredLayout'
import newTask from '@/components/newTask'

export default {
  name: 'App',
  components: {
    centeredLayout,
    newTask
  }
}
</script>
